#circle_B1{
    fill:black;

}
#circle_B2{
    fill:black;

}
#circle_B3{
    fill:black;

}
#circle_B4{
    fill:black;

}
#circle_B5{
    fill:black;

}
#circle_B6{
    fill:black;

}
#circle_B7{
    fill:black;

}

#line_B1{
    stroke:black;
    stroke-width:3px;
}
#line_B2{
    stroke:black;
    stroke-width:3px;
}
#line_B3{
    stroke:black;
    stroke-width:3px;
}
#line_B4{
    stroke:black;
    stroke-width:3px;
}
#line_B5{
    stroke:black;
    stroke-width:3px;
}



/*-----------------------------------Magenta-----------------------------------*/
#circle_M1{
    fill:magenta;

}
#circle_M2{
    fill:magenta;

}
#circle_M3{
    fill:magenta;

}
#circle_M4{
    fill:magenta;

}
#circle_M5{
    fill:magenta;

}
#circle_M6{
    fill:magenta;

}

#line_M1{
    stroke-width:5px;
    stroke: magenta;
}


#line_M2{
    stroke-width:5px;
    stroke: magenta;
}

#line_M3{
    stroke-width:5px;
    stroke: magenta;
}

#line_M4{
    stroke-width:5px;
    stroke: magenta;
}



/*-----------------------------------Blue-----------------------------------*/
#circle_BL1{
    fill:cyan;
    opacity:.5;
}

#circle_BL2{
    fill:cyan;
}
#circle_BL3{
    fill:cyan;
}
#circle_BL4{
    fill:cyan;
}
#circle_BL5{
    fill:cyan;
}
#line_BL1{
    stroke:cyan;
    stroke-width:8px;

}

#line_BL2{
    stroke:cyan;
    stroke-width:3px;
    opacity: .5;

}

#line_BL3{
    stroke:cyan;
    stroke-width:3px;
    opacity: .5;

}